(
  axes: {
    "x_axis": Emulated(
        pos: Key(D),
        neg: Key(A)
    ),
    "y_axis": Emulated(
        pos: Key(W),
        neg: Key(S)
    ),
    "left_x_axis0": Controller(
      controller_id: 0,
      axis: LeftX, 
      invert: false,
      dead_zone: 0.2
    ),
    "left_y_axis0": Controller(
      controller_id: 0,
      axis: LeftY, 
      invert: false,
      dead_zone: 0.2
    )
  },
  actions: {
    "rotation": [ [Key(Space)] ],
    "enter": [ [Controller(0, A)] ],
    "back": [ [Controller(0, B)] ],
    "pause": [ [Controller(0, Start)] ]
  },
)