#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../../sprite_animation/main.rs#MyPrefabData
    Prefab<MyPrefabData>
*/

Prefab(
    entities: [
        // Grey bat
        PrefabEntity(
            data: PlayerPrefabData(
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            // AnimationId
                            Wait,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.1, 0.2, 0.3],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [0, 1, 2, 3],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                             CombatMode,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.1, 0.2, 0.3],
                                            output: [4, 5, 6, 7],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                             Run,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7],
                                            output: [8, 9, 10, 11, 12, 13, 14, 15],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                             Attack,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7],
                                            output: [16, 17, 18, 19, 20, 21, 22, 23],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                             Rise,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7],
                                            output: [24, 25, 26, 27, 28, 29, 30, 31, 32],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                             Down,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.1, 0.2, 0.3],
                                            output: [33, 34, 35, 36],
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ],
                ),
            ),
        ),
    ],
)